{% extends 'main.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/about.css' %}" />

<style>
    .header_burger-content {
        top: 64px;
        height: calc(100% - 64px);
    }

    @media (max-width: 992px) {
        .main-wrapper {
            margin-top: 64px !important;
        }
    }
</style>
{% endblock %}

{% block internal_nav %}{% endblock %}

{% block content %}
<section class="section_100 section_top">
    <div class="section_1260 card_content">
        <p><a href="{% url 'home' %}">Home</a> > About</p>
        <h1>About New Summit College (NSC)</h1>
    </div>
</section>

<section class="section_1260 about-nsc section-m-b">
    <div class="about-wrapper">

        <div class="about-image-card">
            <img src="{% static 'images/about.jpg' %}" alt="New Summit College Campus">
        </div>

        <div class="about-content-card">
            <h3 class="about-title">NSC</h3>
            <p>
                New Summit College (NSC) is a leading academic institution dedicated to excellence in education,
                innovation, and leadership. Since its establishment, NSC has emphasized the development of critical
                thinking, technical competence, and strong ethical values to prepare students for academic and
                professional success.
            </p>
            <p>
                With strong university affiliations, experienced faculty, and dynamic student-driven initiatives such as
                TechTrix, NSC fosters a forward-thinking learning environment. The college continues to shape
                future-ready graduates equipped with the knowledge, skills, and confidence to meet global challenges.
            </p>
        </div>

    </div>
</section>

<section class="section_1260 section-m-b">
    <h4 class="section-subtitle">
        The Evolution of New Summit College Through the Years
    </h4>
    <h2 class="section-title">
        Follow the timeline of events that mark NSC’s progress
    </h2>
    <div class="timeline">

        <div class="timeline-item left">
            <span class="year">2055 B.S.</span>
            <div class="card"> <strong> Establishment of New Summit College </strong> at Old Baneshwor, Kathmandu,
                offering +2 level programs</div>
        </div>

        <div class="timeline-item right">
            <span class="year">2064 B.S.</span>
            <div class="card">Expanded operations with <strong>Tribhuvan University-affiliated bachelor’s
                    programs</strong></div>
        </div>

        <div class="timeline-item left">
            <span class="year">2075 B.S.</span>
            <div class="card"><strong>The first edition of TechTrix</strong>, a technology and innovation event
                organized by the NSC’s IT students</div>
        </div>

        <div class="timeline-item right">
            <span class="year">2080 B.S.</span>
            <div class="card"><strong>The third edition of TechTrix</strong> hosted at New Summit College, featuring a
                three-day hackathon</div>
        </div>

        <div class="timeline-item left">
            <span class="year">2081 B.S.</span>
            <div class="card">New Summit College held the grand opening of <strong>“Minds in Motion”</strong>, a
                pre-event for TechTrix Nepal aligned with World Environment Day</div>
        </div>

        <div class="timeline-item right">
            <span class="year">2082 B.S.</span>
            <div class="card">
                New Summit College signed a <strong>MoU with the Confucius Institute at TU</strong> to enhance Chinese
                language and cultural learning opportunities for students
            </div>
        </div>

    </div>
</section>

<section class="section_1260">

    <h4 class="section-subtitle">
        The Vision, Mission, and Goals That Drive Us Forward
    </h4>
    <h2 class="section-title">
        V - M - G
    </h2>

    <div class="vmg">
        <div class="vmg-content left">
            <div class="title-box">
                <span class="handle tl"></span>
                <span class="handle tr"></span>
                <span class="handle bl"></span>
                <span class="handle br"></span>
                <span class="handle tm"></span>
                <span class="handle bm"></span>
                <span class="handle ml"></span>
                <span class="handle mr"></span>

                <h2>Our Vision</h2>
                <span class="underline"></span>
            </div>

            <p>
                To establish and develop such an academic center where a blend of Science, IT, management and social
                science
                stands as bedrock in pursuit of nation/world building.
            </p>
        </div>

        <div class="vmg-content right">
            <div class="title-box">
                <span class="handle tl"></span>
                <span class="handle tr"></span>
                <span class="handle bl"></span>
                <span class="handle br"></span>
                <span class="handle tm"></span>
                <span class="handle bm"></span>
                <span class="handle ml"></span>
                <span class="handle mr"></span>

                <h2>Our Mission</h2>
                <span class="underline"></span>
            </div>

            <p>
                1) To build a legacy of excellence by providing theoretical, practical and research-based education.
                <br><br>
                2) To develop future doctors, engineers, politicians, scientists, managers, entrepreneurs, IT developers
                and
                technical experts through innovative, creative, value based and research based academic practices;
                <br><br>
                3) To initiate sense of social responsibility in the mind of new generation through the activities of
                corporate
                level social responsibility and <br><br>
                4) To produce skilful human resources in the area of productive and professional jobs.
            </p>
        </div>

        <div class="vmg-content left">
            <div class="title-box">
                <span class="handle tl"></span>
                <span class="handle tr"></span>
                <span class="handle bl"></span>
                <span class="handle br"></span>
                <span class="handle tm"></span>
                <span class="handle bm"></span>
                <span class="handle ml"></span>
                <span class="handle mr"></span>

                <h2>Our Goals</h2>
                <span class="underline"></span>
            </div>

            <p>
                1) To develop graduates in area of Science, Management and Law through optimum use of human and physical
                resources; <br><br>
                2) To provide globally competent education in disciplined environment with utmost personal
                caring;<br><br>
                3) To create conducive and research-based learning to groom out the inner talent of the students and
                <br><br>
                4) To maintain corporate relationships with different academic institutions and universities at home and
                abroad.
            </p>
        </div>
    </div>
</section>

<section class="section-m-b">
    <div class="section_1260 stats-section">
        <h4 class="section-subtitle">
            New Summit College in Numbers
        </h4>
        <h2 class="section-title">
            Our key stats
        </h2>

        <div class="stats-container">
            <div class="stat-box">
                <p class="stat-label">Students in Bachelors</p>
                <h4 class="stat-value">1,000<sup>+</sup></h4>
            </div>

            <div class="stat-box">
                <p class="stat-label">Bachelors Program</p>
                <h4 class="stat-value">4</h4>
            </div>

            <div class="stat-box">
                <p class="stat-label">Student-To-faculty ratio</p>
                <h4 class="stat-value">1:16</h4>
            </div>

            <div class="stat-box">
                <p class="stat-label">Industrarial Partners</p>
                <h4 class="stat-value">50<sup>+</sup></h4>
            </div>
        </div>
    </div>

    <div class="section_1260 graduation-hero">
        <img src="{% static 'images/hats.png' %}" alt="Graduation hats" class="floating-hats">

        <h2 class="hero-title">
            Learn and Lead with NSC
        </h2>

        <img src="{% static 'images/graduation.png' %}" alt="NSC graduation celebration" class="students-img">
    </div>
</section>
{% endblock %}