{% extends 'main.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/academics.css' %}" />

<style>
    @media (max-width: 900px) {
        section {
            scroll-margin-top: 120px;
        }
    }
</style>
{% endblock %}

{% block internal_nav %}
<div class="header-nav-internal">
    <div class="bottom-nav">
        <a href="#overview" class="nav-item active">Program Overview</a>
        <a href="#course" class="nav-item">Course Structure</a>
        <a href="#career" class="nav-item">Career Opportunity</a>
        <a href="#criteria" class="nav-item">Eligibility Criteria</a>
    </div>
</div>
{% endblock %}

{% block content %}

<section class="section_100 section-top">
    <div class="section_1260">
        <p><a href="{% url 'home' %}">Home</a> > <strong>Academics</strong></p>
        <h1>{{ program.title }}</h1>
    </div>
</section>

<div class="container section_1260">
    <section id="overview" class="section-m-b">
        <h2>Program Overview</h2>
        <div class="overview-container">
            <div class="content">
                <p>{{ program.overview }}</p>
            </div>

            <div class="image">
                <img src="{{ program.image.url }}" alt="">
            </div>
        </div>
        <p>{{ program.description }}</p>
    </section>

    <section id="course">
        <h2>Course Structure</h2>

        {% regroup courses by year as year_groups %}

        {% for year_group in year_groups %}
        <div class="course-year">
            {% if program.program_key == "bbs" %}
            {% else %}
            <h3>Year {{ year_group.grouper }}</h3>
            {% endif %}
            <div class="semester-grid">

                {% for course in year_group.list %}
                <div class="semester-table">
                    <table>
                        {% if program.program_key == "bbs" %}
                        <thead>
                            <tr>
                                <th colspan="2">
                                    Year {{ year_group.grouper }}
                                </th>
                            </tr>
                        </thead>
                        {% else %}
                        <thead>
                            <tr>
                                <th colspan="2">
                                    Semester {{ course.semester }}
                                </th>
                            </tr>
                        </thead>
                        {% endif %}
                        <tbody>
                            {% for subject in course.subjects.all %}
                            <tr>
                                <td>{{ subject.code }}</td>
                                <td>{{ subject.name }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="2">No subjects found</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}

            </div>
        </div>
        {% endfor %}
    </section>

    <section id="career" class="section-m-b">
        <h2>Career Opportunities</h2>

        <div class="career-table">
            <table>
                <thead>
                    <tr>
                        <th>Organizations</th>
                        <th>Positions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for career in careers %}
                    <tr>
                        <td>{{ career.organization }}</td>
                        <td>{{ career.positions }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <section id="criteria" class="section-m-b">
        <h2>Eligibility Criteria</h2>

        <ol class="styled-list">
            {% for criteria in program.criteria %}
            <li>
                <span class="number">{{ forloop.counter }}</span>
                <span class="text">
                    {{ criteria }}
                </span>
            </li>
            {% endfor %}
        </ol>
    </section>
</div>

<script src="{% static 'js/bottom-nav.js' %}"></script>

{% endblock %}