{% extends 'main.html' %} 
{% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum/build/pannellum.css" />
<link rel="stylesheet" href="{% static 'styles/home.css' %}" />

<style>
    @media (max-width: 900px) {
        section {
            scroll-margin-top: 120px;
        }
    }
</style>
{% endblock %} 

{% block internal_nav %}
<div class="header-nav-internal">
    <div class="bottom-nav">
        <a href="#partners" class="nav-item active">Industry Partners</a>
        <a href="#programs" class="nav-item">Programs</a>
        <a href="#tour" class="nav-item">Virtual Tour</a>
        <a href="#faqs" class="nav-item">FAQs</a>
    </div>
</div>
{% endblock %} 

{% block content %}

<section class="section_100">
    <div class="banner-wrapper">
        <div class="glow glow-left"></div>

        <div class="section_1260 banner-container">
            <div class="intro-content">
                <h1>
                    <span id="highlight">Learners to Leaders</span><br />
                    Creating Thinkers,<br />
                    Doers, and Leaders
                </h1>

                <p class="subtitle">
                    Education That Builds Confidence and Character<br />
                    Beyond the Classroom
                </p>

                <div class="cta-buttons">
                    <a href="{% url 'form' %}" class="btn btn-primary">Apply Now</a>
                    <a href="https://heyzine.com/flip-book/80c29e7e1f.html" class="btn btn-secondary"
                        target="_">Brochure</a>
                </div>
            </div>

            <div class="intro-video">
                <video autoplay muted loop playsinline>
                    <source src="{% static 'videos/nsc-intro.mp4' %}" type="video/mp4" />
                    Your browser does not support the video tag
                </video>
            </div>
        </div>

        <div class="glow glow-right"></div>
    </div>

    <div class="section_1260 features-card-container">
        <div class="features-card">
            <div class="features-icon">
                <i class="fa-solid fa-building-columns"></i>
            </div>
            <h3>Established 2055 B.S.</h3>
            <p>Over two decades of academic legacy</p>
        </div>

        <div class="features-card">
            <div class="features-icon">
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <h3>Kathmandu Campus</h3>
            <p>Located in New Baneshwor</p>
        </div>

        <div class="features-card">
            <div class="features-icon">
                <i class="fa-solid fa-certificate"></i>
            </div>
            {% if plus2 %}
            <h3>NEB Based</h3>
            <p>Plus2’s programs under NEB standards</p>
            {% else %}
            <h3>TU Affiliated</h3>
            <p>Bachelor’s programs under TU standards</p>
            {% endif %}
        </div>

        <div class="features-card">
            <div class="features-icon">
                <i class="fa-solid fa-layer-group"></i>
            </div>
            {% if plus2 %}
            <h3>Multidisciplinary Programs</h3>
            <p>Science, Management, and Law programs</p>
            {% else %}
            <h3>Multidisciplinary Degrees</h3>
            <p>Science, IT, and Management programs</p>
            {% endif %}
        </div>
    </div>
</section>

<section id="partners" class="section-m-b">
    <div class="section_1260">
        <h2 class="section-title">
            Built Through Years <br />
            of Academic Excellence
        </h2>

        <div class="partners-container">
            <h3 class="partners-title">Our Industry Partners</h3>
            <p class="partners-subtitle">
                Building strong industry connections to enhance opportunities
            </p>

            <div class="partners-logos">
                <img src="{% static 'images/partner1.png' %}" alt="Partner 1" />
                <img src="{% static 'images/partner2.png' %}" alt="Partner 2" />
                <img src="{% static 'images/partner3.png' %}" alt="Partner 3" />
                <img src="{% static 'images/partner4.png' %}" alt="Partner 4" />
                <img src="{% static 'images/partner5.png' %}" alt="Partner 5" />
                <img src="{% static 'images/partner6.jpg' %}" alt="Partner 6" />
            </div>

            <div class="partners-stats">
                <div class="stat-box">
                    <p class="stat-label">Industry Partners</p>
                    <h4 class="stat-value">50+</h4>
                </div>

                <div class="stat-box">
                    <p class="stat-label">MoUs Signed</p>
                    <h4 class="stat-value">25+</h4>
                </div>

                <div class="stat-box">
                    <p class="stat-label">Internship Support</p>
                    <h4 class="stat-value">100%</h4>
                </div>

                <div class="stat-box">
                    <p class="stat-label">Placement Assistance</p>
                    <h4 class="stat-value">90%</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="programs" class="section-m-b">
    <div class="section_1260">
        <h4 class="section-subtitle">Explore our programs that align with your aspirations</h4>
        <h2 class="section-title">Learn, Apply, and Excel in Your Chosen Field</h2>
        <div class="programs-container">

            <div class="program-menu">
                {% for program in programs %}
                <button
                    class="program {% if plus2 %}{% if program.program_key == 'science' %}active{% endif %}{% else %}{% if program.program_key == 'csit' %}active{% endif %}{% endif %}"
                    data-program="{{ program.program_key }}">
                    <span class="program-number">{{ forloop.counter }}</span> {{ program.program_key.upper }}
                </button>
                {% endfor %}
            </div>

            <div class="program-content" id="program-content">
                <h2 id="program-title">{{ default_program.title }}</h2>

                <div class="program-description">
                    <div class="program-section reverse">
                        <div class="program-text">{{ default_program.description }}</div>
                        <div class="program-image">
                            <img src="{{ default_program.image.url }}" alt="{{ default_program.title }}" />
                        </div>
                    </div>
                </div>

                <div class="learn-more" onclick="window.location.href='{{ default_program.get_absolute_url }}'">
                    Learn More →
                </div>
            </div>

        </div>
    </div>
</section>

<div class="section_1260 section-m-b" id="learninghammer" style="scroll-margin-top: 120px;">
    <div class="l-h-ad">

        <div class="content">
          <div class="badge">NEW</div>
          <h1>Level up your learning with Learning Hammer!</h1>
      
          <ul class="subtext-list">
            <li>NEB syllabus notes for Grades 10, 11 & 12</li>
            <li>MCQ-based timed practice tests with feedback</li>
            <li>Bridge courses for +2 Science, Management, BSc CSIT & BCA entrance</li>
          </ul>
      
          <div class="features">
            <button><i class="fa-solid fa-book"></i> Notes</button>
            <button><i class="fa-solid fa-clock"></i> Timed MCQ</button>
            <button><i class="fa-solid fa-file-circle-question"></i> Practice Questions</button>
            <button><i class="fa-solid fa-puzzle-piece"></i> Bridge Course</button>
            <button><i class="fa-solid fa-comment"></i> Feedback</button>
          </div>
          <div class="l-h-link">
              <a href="https://learninghammer.com/" class="cta" target="_">Explore the Website →</a>
          </div>
        </div>
      
        <div class="qr">
          <img src="{% static 'images/Q-R.png' %}" alt="Learning Hammer QR">
        </div>
    </div>
</div>

<section id="tour" class="section-m-b">
    <div class="section_1260">
        <h4 class="section-subtitle">Experience NSC</h4>
        <h2 class="section-title">Take a Walk Through Our Campus</h2>
        <div class="panorama-wrapper">
            <div class="tour-nav">
                <div class="tour-nav-inner">
                    <button data-scene="mainGround">Main Ground</button>
                    <button data-scene="seminarHall">Seminar Hall</button>
                    <button data-scene="studyRoom">Study Room</button>
                    <button data-scene="compLab">Computer Lab</button>
                    <button data-scene="greenRoom">Green Room</button>
                    <button data-scene="cafeteria">Cafeteria</button>
                    <button data-scene="balconyView">Balcony View</button>
                </div>
            </div>

            <div id="panorama"></div>
        </div>
    </div>
</section>

<section id="faqs" class="section-m-b">
    <div class="section_1260 faq">
        <h4 class="section-subtitle">FAQs</h4>
        <h2 class="section-title">Frequently Asked Questions</h2>

        <div class="faq-list">

            {% for faq in faqs %}
            <div class="faq-card">
                <button class="faq-item">
                    <span>{{faq.question}}</span>
                    <span class="icon">+</span>
                </button>
                <div class="faq-answer">
                    <div>
                        <p>
                            {{faq.answer}}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        <a href="{% url 'about' %}?level={% if plus2 %}plus2{% endif %}" class="faq-cta">More about NSC</a>
</section>

<script src="https://cdn.jsdelivr.net/npm/pannellum/build/pannellum.js"></script>

<script>
    const PANORAMAS = {
        mainGround: "{% static 'images/pov/main-ground.jpg' %}",
        lobby: "{% static 'images/pov/lobby.jpg' %}",
        pathway1: "{% static 'images/pov/pathway-1.jpg' %}",
        studyRoom: "{% static 'images/pov/study-room.jpg' %}",
        greenRoom: "{% static 'images/pov/green-room.jpg' %}",
        compLab: "{% static 'images/pov/comp-lab.jpg' %}",
        seminarHall: "{% static 'images/pov/seminar-hall.jpg' %}",
        stairs: "{% static 'images/pov/stairs.jpg' %}",
        balconyView: "{% static 'images/pov/balcony-view.jpg' %}",
        corridor1A: "{% static 'images/pov/corridor-1A.jpg' %}",
        corridor1B: "{% static 'images/pov/corridor-1B.jpg' %}",
        corridor2: "{% static 'images/pov/corridor-2.jpg' %}",
        corridor3: "{% static 'images/pov/corridor-3.jpg' %}",
        corridor4: "{% static 'images/pov/corridor-4.jpg' %}",
        floor2: "{% static 'images/pov/floor-2.jpg' %}",
        floor3: "{% static 'images/pov/floor-3.jpg' %}",
        floor4: "{% static 'images/pov/floor-4.jpg' %}",
        room102: "{% static 'images/pov/102.jpg' %}",
        room105: "{% static 'images/pov/105.jpg' %}",
        room203: "{% static 'images/pov/203.jpg' %}",
        room301: "{% static 'images/pov/301.jpg' %}",
        room303: "{% static 'images/pov/303.jpg' %}",
        room402: "{% static 'images/pov/402.jpg' %}",
        cafeteria: "{% static 'images/pov/cafeteria.jpg' %}",
    };

    const programsData = {
    {% for p in programs %}
    "{{ p.program_key }}": {
        title: "{{ p.title|escapejs }}",
            description: "{{ p.description|escapejs }}",
                image: "{{ p.image.url }}",
                    link: "{{ p.get_absolute_url }}"
    } {% if not forloop.last %}, {% endif %}
    {% endfor %}
    }; 

 const faqCards = document.querySelectorAll(".faq-card");

faqCards.forEach(card => {
  const button = card.querySelector(".faq-item");

  button.addEventListener("click", () => {
    card.classList.toggle("active");
  });
});

</script>

<script src="{% static 'js/bottom-nav.js' %}"></script>
<script src="{% static 'js/panorama.js' %}?v=2"></script>
<script src="{% static 'js/program.js' %}?v=2"></script>

{% endblock %}