{% extends 'main.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/academics.css' %}" />

<style>
    @media (max-width: 900px) {
        section {
            scroll-margin-top: 120px;
        }
    }
</style>
{% endblock %}

{% block internal_nav %}
<div class="header-nav-internal">
    <div class="bottom-nav">
        <a href="#overview" class="nav-item active">Program Overview</a>
        <a href="#subjects" class="nav-item">Subjects</a>
        <a href="#career" class="nav-item">Career Opportunities</a>
        <a href="#criteria" class="nav-item">Eligibility Criteria</a>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="section_100 section-top">
    <div class="section_1260">
        <p><a href="{% url 'plus2' %}">Home</a> > <strong>Academics</strong></p>
        <h1>+2 {{ program.title }} Program</h1>
    </div>
</section>

<div class="container section_1260">
    <section id="overview" class="section-m-b">
        <h2>Program Overview</h2>
        <div class="overview-container">
            <div class="content">
                <p>{{ program.overview }}</p>
            </div>

            <div class="image">
                <img src="{{ program.image.url }}" alt="">
            </div>
        </div>
        <p>{{ program.description }}</p>
    </section>

    <section id="subjects" class="section-m-b">
        <h2>Subjects</h2>
        <div class="subject-list">
            {% for subject in core_subjects %}
            <div class="subject-item">
                <div class="subject-icon">{{ subject.name|slice:":1"|upper }}</div>
                <div>
                    <h3>{{ subject.name }}</h3>
                    <p>{{ subject.description }}</p>
                </div>
            </div>
            {% endfor %}

            {% for subject in optional_subjects %}
            <div class="subject-item">
                <div class="subject-icon">{{ subject.name|slice:":1"|upper }}</div>
                <div>
                    <h3>{{ subject.name }}</h3>
                    <small>OPTIONAL</small>
                    <p>{{ subject.description }}</p>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>

    <section id="career" class="section-m-b">
        <h2>Future Degrees & Career Opportunities</h2>

        <div class="career-table">
            <table>
                <thead>
                    <tr>
                        <th>Future Degrees</th>
                        <th>Organizations & Positions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for career in careers %}
                    <tr>
                        <td>{{ career.degree }}</td>
                        <td>{{ career.careers }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

        <section id="criteria" class="section-m-b">
        <h2>Eligibility Criteria</h2>

        <ol class="styled-list">
            {% for criteria in program.criteria %}
            <li>
                <span class="number">{{ forloop.counter }}</span>
                <span class="text">
                    {{ criteria }}
                </span>
            </li>
            {% endfor %}
        </ol>
    </section>
</div>

<script src="{% static 'js/bottom-nav.js' %}"></script>

{% endblock %}