:root {
    --logo-red: #8A1204;
    --logo-blue: #054D97;

    --white: #fff;
    --black: #000;

    --dark-font: #181818;
    --gray-font: #282828;
    --light-font: #383838;
    --lightest-font: #666;
    --inverse-font: #ffffff;

    --blue: #043B74;
    --red: #5A0C02;

    --sky-blue: #5AA3FF;

    --light-blue: #054D97;
    --light-red: #B72410;

    --darkest-blue: #02090F;
    --darkest-red: #120201;

    --lightest-blue: #A8C9F0;
    --lightest-red: #F0B4AF;

    --black-bg: #101010;
    --light-gray-bg: #f7f9fc;
}

@font-face {
    font-family: "PlusJakartaSans";
    src: url("../fonts/PlusJakartaSans.ttf") format("truetype");
}

@font-face {
    font-family: "SourceSans3";
    src: url("../fonts/SourceSans3.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    font-family: "PlusJakartaSans";
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.main-wrapper {
    margin-top: 64px;
}

section {
    scroll-margin-top: 72px;
}

@media (max-width: 900px) {
    .main-wrapper {
        margin-top: 112px;
    }
}