<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}New Summit College | NSC{% endblock %}</title>

    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/nav.css' %}" />
    
    {% block extra_css %}{% endblock %}

</head>
<body>
    {% include 'nav.html' %}
    <div class="header-nav-internal">
        <div class="bottom-nav">
            <a href="#" class="nav-item active">Highlights</a>
            <a href="#" class="nav-item">Placements</a>
            <a href="#" class="nav-item">Curriculum</a>
            <a href="#" class="nav-item">Instructors</a>
            <a href="#" class="nav-item">NSET</a>
        </div>
    </div>
    <main class="main-wrapper">
    {% block content %}

    {% endblock %}
    </main>
</body>
</html>