{% load static %}

<header class="nav">
  <div class="header-container">
    <!-- Logo -->
    <a href="#" class="header-brand">
      <img
        src="{% static 'images/header-logo.png' %}"
        alt="NEW SUMMIT College"
      />
    </a>

    <!-- Desktop Nav -->
    <div class="header-content">
      <div class="header-nav-external">
        <a
          href="{% url 'home' %}"
          class="{% if request.resolver_match.url_name in 'home plus2' %}active{% endif %}"
          >Home</a
        >
        <a
          href="{% url 'admissions' %}"
          class="{% if request.resolver_match.url_name == 'admissions' %}active{% endif %}"
          >Admissions</a
        >
        <a
          href="#"
          class="{% if request.resolver_match.url_name == 'academics' %}active{% endif %}"
          >Academics</a
        >
        <a
          href="{% url 'alumini' %}"
          class="{% if request.resolver_match.url_name == 'alumini' %}active{% endif %}"
          >Alumini</a
        >
        <a
          href="{% url 'events' %}"
          class="{% if request.resolver_match.url_name == 'events' %}active{% endif %}"
          >Events</a
        >
        <a
          href="{% url 'faqs' %}"
          class="{% if request.resolver_match.url_name == 'faqs' %}active{% endif %}"
          >FAQs</a
        >
      </div>

      <div class="desktop-buttons">
        {% if plus2 %}
        <a href="{% url 'home' %}"><span class="header-btn active">Bachelors</span></a>
        {% else %}
        <a href="{% url 'plus2' %}"><span class="header-btn">Plus 2</span></a>
        {% endif %}
      </div>
    </div>

    <!-- Burger Button -->
    <div class="header_burger-button">
      <span></span>
    </div>
  </div>

  <!-- Drawer -->
  <div class="header_burger">
    <div class="header_burger-content">
      <div class="header-nav-external">
        <a
          href="{% url 'home' %}"
          class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"
          >Home</a
        >
        <a
          href="{% url 'admissions' %}"
          class="{% if request.resolver_match.url_name == 'admissions' %}active{% endif %}"
          >Admissions</a
        >
        <a
          href="#"
          class="{% if request.resolver_match.url_name == 'academics' %}active{% endif %}"
          >Academics</a
        >
        <a
          href="{% url 'alumini' %}"
          class="{% if request.resolver_match.url_name == 'alumini' %}active{% endif %}"
          >Alumini</a
        >
        <a
          href="{% url 'events' %}"
          class="{% if request.resolver_match.url_name == 'events' %}active{% endif %}"
          >Events</a
        >
        <a
          href="{% url 'faqs' %}"
          class="{% if request.resolver_match.url_name == 'faqs' %}active{% endif %}"
          >FAQs</a
        >
      </div>

      <div class="mobile-buttons">
        {% if plus2 %}
        <a href="{% url 'home' %}"><span class="header-btn active">Bachelors</span></a>
        {% else %}
        <a href="{% url 'plus2' %}"><span class="header-btn">Plus 2</span></a>
        {% endif %}
      </div>
    </div>
  </div>
</header>

<div class="header_burger-overlay"></div>

<script src="{% static 'js/nav.js' %}"></script>
